# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vatsal\blog-netlify-first\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
